{% extends "base.html" %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column col-md-6 offset-md-3">

        <h1 class="cover-heading text-center">Post Scores Get Stats</h1>
        <p class="lead text-center">The pros depend on statistics to show what they need to work on. Why shouldn't amateuers? This app will show common statistics that will help you improve your game.</p>
        <p class="lead text-center">
          <a href="{{ url_for('getting_started' )}}" class="btn btn-lg btn-secondary">Getting Started</a>
        </p>


</div>
{% endblock %}
