{% extends "base.html" %}

{% block content %}
<div class="mb-4 col-md-4 offset-md-4">
<div class="text-center">
    <h2>{{ course_name }}</h2>
    <form action="" method="post" name="post">
      {{ form.hidden_tag() }}
      {{ form.tourney.label }}
      {{ form.tourney() }}<br>
      <div class="text-center">
          <small>*Remeber to use 1 or 0 for fairways or greens.</small><br>
          <small>1 = hit fairway/green</small><br>
          <small>0 = missed fairway/green*</small><br>
      </div>


      <table>
        <tr>
          <th>Hole</th>
          <th>Par</th>
          <th>Score</th>
          <th>GIR </th>
          <th>Fairway </th>
          <th>Putts</th>
        </tr>
        {% for k,v in course_info %}
        <tr>
          <td>{{ v[0] }}</td>
          <td>{{ v[1] }}</td>
          <td>{{ form.scores[k](size=3) }}</td>
          <td>{{ form.gir[k](size=3) }}</td>
          <td>{{ form.fairway[k](size=3) }}</td>
          <td>{{ form.putts[k](size=3) }}</td>
        </tr>
        {% endfor %}
  <!--      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td>{{ form.submit }}</td>
          <td><input type='submit' value='Submit'></td>
        </tr>-->
      </table>

      <p></p>
      {{form.notes.label}}<br>
      {{ form.notes(size=140, placeholder="optional") }}<br><br>
</div>

    <div class="mb-4 col-md-5 offset-md-3">
        {{ form.classifier.label }}
        {{ form.classifier }}
    </div>



    <p>{{ form.submit(class_="btn btn-lg btn-primary btn-block") }}</p>

  </form>

  {% for error in form.tourney.errors %}
  <span style="color: red;">Score: [{{ error }}]</span><br>
  {% endfor %}


  {% for error in form.scores.errors %}
  <span style="color: red;">Score: [{{ error }}]</span><br>
  {% endfor %}


  {% for error in form.gir.errors %}
  <span style="color: red;">GIR: [{{ error }}]</span><br>
  {% endfor %}

  {% for error in form.putts.errors %}
  <span style="color: red;">Putts: [{{ error }}]</span><br>
  {% endfor %}

  {% for error in form.fairway.errors %}
  <span style="color: red;">Fairway: [{{ error }}]</span><br>
  {% endfor %}

  {% for error in form.classifier.errors %}
  <span style="color: red;">classifier: [{{ error }}]</span><br>
  {% endfor %}

  {% for error in form.notes.errors %}
  <span style="color: red;">Notes: [{{ error }}]</span><br>
  {% endfor %}
</div>

{% endblock %}
