{% extends "base.html" %}

{% block content %}
<div class="col-md-6">
  <h3>Choose Your Course</h3>
  <form action="" method="post" name="post" id='form'>
    {{ form.hidden_tag() }}

    {{ form.state.label }}{{ form.state }}{% for error in form.state.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}<br>

    {{ form.course.label }}{{ form.course }}{% for error in form.course.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}<br>

    {{ form.holes.label }}{{ form.holes }}{% for error in form.holes.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}<br>

    {{form.date.label}}{{ form.date }}{% for error in form.date.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}<br>



    {{ form.submit }}
  </form>



  <!-- {% for error in form.course.errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}
  {% for error in form.date.errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %} -->

  <p id="test"></p>
</div>


<script>
    $(document).ready(function(){
        $('#select_course').empty();
        $('#select_holes').empty();
        var state = $('#select_state').val();

        if (state != '') {
            $.getJSON("/_get_courses", {state : $("#select_state").val()}, function(json){
                if (json.error) {
                    alert(json.error)
                }
                else {
                    $('#select_course').append(
                        $('<option>', {
                            value: '',
                            text: '--Select Course--'
                        })
                    );
                    // console.log(json.course);
                    $.each(json.course, function(index,value) {
                        $('#select_course').append(
                            $('<option>', {
                                value: value,
                                text: value
                            })
                        );
                    });
                }
            });
        }


        $('#select_state').change(function() {
            $('#select_course').empty();
            $('#select_holes').empty();
            // console.log("state has been changed");
            // alert('something has happened');

            if ($("#select_state").val() == '') { // if --select state -- is chosen
                $('#select_course').empty();
                $('#select_holes').empty();
            }
            else {
                $.getJSON("/_get_courses", {state : $("#select_state").val()}, function(json){
                    if (json.error) {
                        alert(json.error)
                    }
                    else {
                        $('#select_course').append(
                            $('<option>', {
                                value: '',
                                text: '--Select Course--'
                            })
                        );
                        // console.log(json.course);
                        $.each(json.course, function(index,value) {
                            $('#select_course').append(
                                $('<option>', {
                                    value: value,
                                    text: value
                                })
                            );
                        });
                    }
                });
            }

        }); // end on change event for select course

        $('#select_course').change(function() {
            var State = $('#select_state').val();
            var course_name = $(this).val();
            $("#select_holes").empty();
            // console.log(State + ' ' + course_name);

            if (course_name == '') {
                $('#select_holes').empty();
                // console.log("got here")
            }
            else {
                $.getJSON("/_get_holes", {course : course_name, state: State}, function(json){
                    if (json.error) {
                        alert(json.error)
                    }
                    else {
                        // console.log(json.holes);
                        $('#select_holes').append(
                            $('<option>', {
                                value: '',
                                text: '--Select Holes--'
                            })
                        );
                        // console.log(json.course);
                        $.each(json.holes, function(index,value) {
                            // console.log(index + ' ' + value);
                            $('#select_holes').append(
                                $('<option>', {
                                    value: index,
                                    text: value
                                })
                            );
                        });
                    }
                }); // end ajax call
            } // end else
        }); // end on change event for select_course


    });
</script>



{% endblock %}
